
body {
    font-family: Arial, sans-serif;
    background-image: url(Lovers.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
   
}
 .outlined-text{
        font-size: 24px;
        text-shadow: 2px 2px 4px rgba(#7512a3, #7512a3, #7512a3, alpha)

    }
header {
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}